<footer class="footer bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">LibrE-shop</h5>
                <p>
                    LibrE-shop es tu tienda en línea para encontrar y alquilar una amplia variedad de libros. Ofrecemos
                    los mejores títulos en diferentes géneros para todos los amantes de la lectura.
                </p>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 LibrE-shop. All rights reserved.
    </div>
</footer>